@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: url('/blue.cur'), auto;
    @apple gray;
}

// 重置首页 logo大小
.VPImage.image-src{
    width: 400px !important;
}
// 重置首页 logo 背景颜色
.image-bg{
    background-image: linear-gradient( 135deg, #6DCFFA 10%, #94F2D4 100%) !important;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
    filter: gray;
    -webkit-filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
}
